<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.maker" android:versionCode="1" android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:debuggable="TRUE">
		<activity android:name=".activity.GravityLevel1Activity"
			android:label="@string/app_name" android:screenOrientation="portrait"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".activity.GravityLevel2Activity"
			android:label="@string/app_name" android:screenOrientation="landscape"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
		<activity android:name=".activity.LandingActivity"
			android:label="@string/app_name" android:screenOrientation="landscape"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
		<activity android:name=".activity.GameActivity"
			android:label="@string/app_name" android:screenOrientation="landscape"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
		<activity android:name=".activity.CreateActivity"
			android:label="@string/app_name" android:screenOrientation="landscape"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
		<activity android:name=".activity.EditPenguinActivity"
			android:label="@string/app_name" android:screenOrientation="landscape"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
		<activity android:name=".activity.SaveWorldActivity"
			android:label="@string/app_name" android:screenOrientation="landscape"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
		<activity android:name=".activity.LoadWorldActivity"
			android:label="@string/app_name" android:screenOrientation="landscape"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
		<activity android:name=".activity.PlayGameActivity"
			android:label="@string/app_name" android:screenOrientation="landscape"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
		<activity android:name=".activity.CustomObjectActivity"
			android:label="@string/app_name" android:screenOrientation="landscape"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

	</application>
	<uses-sdk android:minSdkVersion="8" />

</manifest> 